@import "tailwindcss";

@theme {
	/* Primary Colors */
	--color-primary-50: oklch(0.982 0.018 155.826);
	--color-primary-100: oklch(0.962 0.044 156.743);
	--color-primary-200: oklch(0.925 0.084 155.995);
	--color-primary-300: oklch(0.871 0.15 154.449);
	--color-primary-400: oklch(0.792 0.209 151.711);
	--color-primary-500: oklch(0.723 0.219 149.579);
	--color-primary-600: oklch(0.627 0.194 149.214);
	--color-primary-700: oklch(0.527 0.154 150.069);
	--color-primary-800: oklch(0.448 0.119 151.328);
	--color-primary-900: oklch(0.393 0.095 152.535);
	--color-primary-950: oklch(0.266 0.065 152.934);

	/* Gray Colors */
	--color-gray-50: oklch(0.985 0 0);
	--color-gray-100: oklch(0.967 0.001 286.375);
	--color-gray-200: oklch(0.92 0.004 286.32);
	--color-gray-300: oklch(0.871 0.006 286.286);
	--color-gray-400: oklch(0.705 0.015 286.067);
	--color-gray-500: oklch(0.552 0.016 285.938);
	--color-gray-600: oklch(0.442 0.017 285.786);
	--color-gray-700: oklch(0.37 0.013 285.805);
	--color-gray-800: oklch(0.274 0.006 286.033);
	--color-gray-900: oklch(0.21 0.006 285.885);
	--color-gray-950: oklch(0.141 0.005 285.823);

	--font-serif: "EB Garamond", serif;
	--font-sans: "Inter", sans-serif;
}

@layer base {
    body {
        @apply bg-[#FDFDFD] text-gray-900 font-sans antialiased;
    }
    h1, h2, h3, h4, h5, h6 {
        @apply font-serif;
    }
}
